/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Work+Sans|Noto+Sans+Wancho);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
    --header-hight: 60px;
}

body {
    background-color: #e0e7f0;
    font-family: 'Noto Sans Wancho';
    padding: 0px;
    margin: 0px;
    min-height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    height: var(--header-hight);
    background-color:  white;
    box-shadow: 0px 2px 20px #d5d7da;
    z-index: 999;
    position: fixed;
    top: 0px;
    bottom: var(--header-hight);
    right: 0px;
    left: 0px;
}

h1 {
    margin: 0px;
}

.header-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: white;
    font-size: 25px;

}


.sidebar {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 250, 250);
    transition-property: width;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
    z-index: 998;
    position: fixed;
    top: var(--header-hight);
    bottom: 0px;
    width: 0px;
}

.collapse {
    width: 0px;
}

.collapsing {

}

.show {
    width: 330px;
}

.spacer {
    flex-grow: initial;
}

